<!DOCTYPE html>
<meta charset="utf-8">
<title>火焰杯人物关系图</title>
<style>
body {
  font: 10px sans-serif;
}

svg text{
  fill:grey;
  font-size:11px;
}
svg .values text{
  pointer-events:none;
  stroke-width: 0.5px;
}
.groups:hover{
  cursor:pointer;
  font-weight:bold;
}
</style>
<body>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="http://vizjs.org/viz.v1.1.0.min.js"></script>
<script>

var data = [
//['汤姆','韦斯莱',1],
//['里德尔','汤姆',3],
//['汤姆','丽塔',1],
//['克劳奇','汤姆',1],
//['汤姆','小天狼星',1],
//['穆迪','汤姆',1],
//['疯眼汉','汤姆',1],
//['汤姆','麦格',1],
//['芙蓉','汤姆',1],
//['赫敏','汤姆',1],
//['罗恩','汤姆',1],
//['汤姆','哈利',3],
//['里德尔','韦斯莱',1],
['韦斯莱','丽塔',11],
['克劳奇','韦斯莱',19],
['小天狼星','韦斯莱',23],
['穆迪','韦斯莱',17],
//['疯眼汉','韦斯莱',6],
//['麦格','韦斯莱',8],
//['芙蓉','韦斯莱',6],
['赫敏','韦斯莱',68],
['罗恩','韦斯莱',70],
['韦斯莱','哈利',86],
//['里德尔','丽塔',1],
//['里德尔','克劳奇',1],
//['里德尔','小天狼星',1],
//['里德尔','穆迪',1],
//['里德尔','疯眼汉',1],
//['里德尔','麦格',1],
//['里德尔','芙蓉',1],
//['里德尔','赫敏',1],
//['里德尔','罗恩',1],
//['里德尔','哈利',3],
//['克劳奇','丽塔',9],
//['小天狼星','丽塔',9],
//['穆迪','丽塔',8],
//['疯眼汉','丽塔',5],
//['麦格','丽塔',4],
//['芙蓉','丽塔',7],
['赫敏','丽塔',28],
['罗恩','丽塔',28],
['哈利','丽塔',34],
['克劳奇','小天狼星',21],
['克劳奇','穆迪',23],
//['疯眼汉','克劳奇',5],
['克劳奇','麦格',10],
['克劳奇','芙蓉',13],
['克劳奇','赫敏',21],
['克劳奇','罗恩',21],
['克劳奇','哈利',64],
['穆迪','小天狼星',22],
//['疯眼汉','小天狼星',5],
['小天狼星','麦格',13],
//['芙蓉','小天狼星',6],
['赫敏','小天狼星',52],
['罗恩','小天狼星',52],
['小天狼星','哈利',64],
['疯眼汉','穆迪',15],
['穆迪','麦格',20],
['穆迪','芙蓉',12],
['赫敏','穆迪',42],
['罗恩','穆迪',45],
['穆迪','哈利',68],
//['疯眼汉','麦格',4],
//['疯眼汉','芙蓉',4],
['疯眼汉','赫敏',10],
['疯眼汉','罗恩',11],
['疯眼汉','哈利',16],
['芙蓉','麦格',12],
['赫敏','麦格',32],
['罗恩','麦格',33],
['麦格','哈利',43],
['赫敏','芙蓉',25],
['罗恩','芙蓉',26],
['芙蓉','哈利',39],
['赫敏','罗恩',108],
['赫敏','哈利',176],
['罗恩','哈利',178],
['弗农','佩妮',12],
//['弗农','达力',2],
['弗农','哈利',18],
['达力','佩妮',11],
['哈利','佩妮',13],
['达力','哈利',13],
['赫敏','格兰杰',13],
['波特','格兰杰',10],
['哈利','格兰杰',13],
['达力','弗农',11],
//['达力','小天狼星',4],
//['弗农','小天狼星',5],
//['小天狼星','佩妮',4],
['小天狼星','海格',21],
['赫敏','海格',62],
//['赫敏','达力',2],
//['赫敏','弗农',4],
//['赫敏','佩妮',2],
['韦斯莱','海格',17],
//['达力','韦斯莱',7],
['弗农','韦斯莱',12],
//['韦斯莱','佩妮',7],
['罗恩','海格',61],
//['罗恩','达力',8],
['罗恩','弗农',11],
//['罗恩','佩妮',9],
['哈利','海格',75],
//['达力','海格',1],
//['弗农','海格',1],
//['佩妮','海格',1],
['罗恩','亚瑟',16],
//['佩妮','亚瑟',1],
['哈利','亚瑟',21],
//['达力','亚瑟',1],
//['弗农','亚瑟',1],
['小猪','赫敏',14],
['小猪','罗恩',16],
//['小猪','达力',1],
//['小猪','韦斯莱',9],
//['小猪','小天狼星',8],
//['小猪','弗农',1],
['小猪','哈利',16],
['赫敏','亚瑟',14],
['韦斯莱','亚瑟',19],
//['小猪','克劳奇',6],
['罗恩','赫敏',46],
//['克劳奇','亚瑟',8],
//['克劳奇','格兰杰',2],
//['格兰杰','亚瑟',1],
//['韦斯莱','格兰杰',3],
['罗恩','格兰杰',11],
['闪闪','赫敏',10],
//['闪闪','罗恩',9],
//['闪闪','马尔福',6],
//['闪闪','多比',7],
['闪闪','韦斯莱',10],
['闪闪','哈利',26],
['波特','马尔福',23],
['赫敏','马尔福',43],
['赫敏','多比',11],
['罗恩','马尔福',41],
['罗恩','多比',11],
//['多比','马尔福',4],
['韦斯莱','马尔福',16],
['哈利','马尔福',45],
//['韦斯莱','多比',5],
['哈利','多比',13],
//['卢修斯','马尔福',7],
//['克劳奇','卢修斯',4],
//['卢修斯','韦斯莱',3],
//['赫敏','卢修斯',5],
//['罗恩','卢修斯',5],
//['闪闪','卢修斯',3],
//['卢修斯','哈利',7],
//['卢修斯','多比',1],
//['克劳奇','马尔福',6],
//['克劳奇','闪闪',7],
//['克劳奇','多比',6],
['赫敏','闪闪',11],
['罗恩','闪闪',10],
//['卢修斯','亚瑟',1],
//['亚瑟','马尔福',1],
//['闪闪','格兰杰',1],
//['格兰杰','马尔福',5],
['罗恩','克劳奇',16],
['闪闪','克劳奇',14],
//['闪闪','亚瑟',5],
['赫敏','克劳奇',16],
['小天狼星','马尔福',10],
//['亚瑟','丽塔',3],
//['小天狼星','亚瑟',3],
//['闪闪','小天狼星',9],
//['小猪','闪闪',3],
//['小猪','丽塔',3],
//['小猪','亚瑟',3],
//['闪闪','丽塔',2],
//['疯眼汉','亚瑟',2],
//['疯眼汉','小猪',1],
//['小猪','穆迪',4],
//['小猪','疯眼汉',1],
//['穆迪','亚瑟',4],
//['小猪','高尔',2],
//['小猪','纳威',2],
//['小猪','马尔福',4],
//['高尔','韦斯莱',6],
//['高尔','纳威',3],
['高尔','罗恩',19],
['高尔','哈利',20],
['高尔','马尔福',17],
['高尔','赫敏',19],
//['纳威','韦斯莱',6],
['罗恩','纳威',27],
['纳威','哈利',28],
//['纳威','马尔福',8],
['赫敏','纳威',24],
//['纳威','海格',8],
//['小猪','海格',5],
//['高尔','海格',9],
['海格','马尔福',17],
//['小猪','波特',3],
//['麦格','格兰杰',2],
//['纳威','格兰杰',4],
//['纳威','麦格',7],
//['斯普劳特','小天狼星',3],
['斯内普','小天狼星',16],
//['卢平','小天狼星',3],
//['斯普劳特','斯内普',2],
//['斯普劳特','卢平',1],
//['斯普劳特','海格',3],
//['斯普劳特','麦格',2],
//['斯普劳特','赫敏',3],
//['斯普劳特','韦斯莱',1],
//['斯普劳特','罗恩',2],
//['斯普劳特','哈利',5],
//['卢平','斯内普',4],
['斯内普','海格',15],
['斯内普','麦格',15],
['赫敏','斯内普',24],
['斯内普','韦斯莱',10],
['罗恩','斯内普',26],
['斯内普','哈利',47],
//['卢平','海格',3],
//['卢平','麦格',1],
//['赫敏','卢平',5],
//['卢平','韦斯莱',4],
//['罗恩','卢平',5],
//['卢平','哈利',7],
['麦格','海格',19],
//['韦斯莱','麦格',9],
['麦格','马尔福',11],
//['费尔奇','韦斯莱',1],
//['罗恩','费尔奇',6],
//['疯眼汉','海格',5],
//['疯眼汉','费尔奇',2],
['穆迪','海格',27],
//['费尔奇','海格',3],
//['穆迪','费尔奇',5],
//['赫敏','费尔奇',6],
['费尔奇','哈利',12],
['穆迪','纳威',14],
//['斯普劳特','马尔福',2],
//['斯普劳特','纳威',2],
//['小天狼星','纳威',2],
//['高尔','牙牙',1],
//['高尔','斯普劳特',1],
//['牙牙','马尔福',2],
//['牙牙','赫敏',8],
//['赫敏','斯普劳特',1],
//['牙牙','罗恩',6],
//['罗恩','斯普劳特',2],
//['牙牙','哈利',9],
//['牙牙','海格',9],
//['牙牙','斯普劳特',1],
//['高尔','麦格',5],
//['高尔','穆迪',3],
//['高尔','疯眼汉',1],
//['高尔','丽塔',7],
//['穆迪','马尔福',8],
//['疯眼汉','马尔福',4],
['马尔福','丽塔',11],
//['疯眼汉','纳威',3],
//['疯眼汉','斯内普',6],
//['斯内普','纳威',7],
//['斯内普','马尔福',7],
['穆迪','斯内普',27],
//['卢平','亚瑟',1],
//['穆迪','卢平',5],
//['罗恩','莉莉',1],
//['罗恩','詹姆',1],
//['纳威','莉莉',1],
//['纳威','詹姆',1],
//['赫敏','莉莉',1],
//['赫敏','詹姆',1],
//['穆迪','莉莉',1],
//['穆迪','詹姆',1],
//['詹姆','莉莉',1],
//['哈利','莉莉',1],
//['詹姆','哈利',2],
//['卢平','纳威',2],
//['纳威','小天狼星',2],
//['穆迪','格兰杰',2],
//['纳威','费尔奇',3],
//['纳威','宾斯',1],
//['费尔奇','麦格',1],
//['宾斯','麦格',3],
//['费尔奇','马尔福',2],
//['宾斯','费尔奇',1],
//['斯内普','费尔奇',5],
//['赫敏','宾斯',5],
//['罗恩','宾斯',6],
//['宾斯','哈利',6],
//['穆迪','宾斯',4],
//['宾斯','马尔福',2],
//['宾斯','海格',4],
//['斯内普','宾斯',3],
//['高尔','费尔奇',1],
['克劳奇','海格',13],
//['克劳奇','费尔奇',3],
//['海格','多比',2],
['芙蓉','海格',16],
['克劳奇','斯内普',23],
//['芙蓉','斯内普',8],
//['斯内普','格兰杰',3],
//['小天狼星','格兰杰',3],
//['高尔','斯内普',2],
//['斯内普','丽塔',9],
//['斯内普','佩妮',1],
//['芙蓉','佩妮',1],
//['佩妮','丽塔',1],
['海格','丽塔',16],
//['海格','佩妮',1],
//['格兰杰','丽塔',5],
//['牙牙','小天狼星',2],
//['芙蓉','马尔福',6],
//['斯普劳特','费尔奇',1],
//['斯普劳特','穆迪',2],
//['斯内普','多比',1],
//['弗农','纳威',2],
//['弗农','麦格',1],
//['纳威','佩妮',1],
//['麦格','佩妮',1],
//['桃金娘','费尔奇',3],
//['桃金娘','小猪',1],
//['桃金娘','罗恩',3],
//['桃金娘','赫敏',2],
//['桃金娘','哈利',5],
//['小猪','费尔奇',1],
//['芙蓉','纳威',3],
//['小猪','芙蓉',2],
//['弗农','多比',1],
//['穆迪','弗农',1],
//['纳威','多比',1],
//['穆迪','多比',2],
//['小天狼星','多比',3],
//['多比','海格',2],
//['高尔','芙蓉',3],
//['闪闪','芙蓉',1],
//['芙蓉','宾斯',2],
//['克劳奇','宾斯',3],
//['纳威','丽塔',2],
//['宾斯','丽塔',1],
//['牙牙','格兰杰',1],
//['格兰杰','海格',2],
//['牙牙','丽塔',1],
//['高尔','桃金娘',1],
//['桃金娘','克劳奇',1],
//['克劳奇','达力',2],
//['克劳奇','弗农',2],
//['桃金娘','斯内普',1],
//['达力','斯内普',1],
//['弗农','斯内普',1],
//['达力','费尔奇',1],
//['弗农','费尔奇',1],
//['桃金娘','达力',1],
//['桃金娘','弗农',1],
//['克劳奇','纳威',4],
//['卢平','丽塔',1],
//['克劳奇','卢平',2],
//['闪闪','卢平',1],
//['闪闪','海格',6],
//['闪闪','纳威',2],
//['闪闪','斯内普',8],
//['闪闪','穆迪',8],
//['麦格','多比',1],
//['芙蓉','多比',2],
//['卢修斯','小天狼星',2],
//['小猪','多比',2],
//['克劳奇','佩妮',1],
//['牙牙','斯内普',1],
//['牙牙','穆迪',2],
//['牙牙','克劳奇',2],
//['牙牙','韦斯莱',2],
//['牙牙','小猪',1],
//['小天狼星','宾斯',1],
//['宾斯','格兰杰',1],
//['高尔','小天狼星',2],
//['宾斯','韦斯莱',1],
//['高尔','宾斯',1],
//['高尔','卢修斯',2],
//['闪闪','麦格',4],
//['斯内普','亚瑟',2],
//['疯眼汉','斯普劳特',1],
//['斯普劳特','克劳奇',1],
//['斯普劳特','闪闪',1],
//['疯眼汉','闪闪',1],
//['卢修斯','麦格',1],
//['高尔','克劳奇',1],
//['卢修斯','斯内普',1],
//['卢修斯','丽塔',1],
//['亚瑟','海格',1],
//['麦格','亚瑟',1],
//['牙牙','麦格',1],
//['高尔','格兰杰',1]
];
var colors = {
"哈利":         "#ff7c7c"
,"伏地魔":    "#60acfc"
,"卢修斯":    "#32d3eb"
,"斯内普":        "#5bc49f"
,"马尔福": "#feb64d"
,"卢平":        "#9287e7"
,"莱姆斯": "#009efd"
,"德拉科":      "#fee140"
,"达力":"#fa709a"
,"赫敏": "#96fbc4"
,"邓布利多":  "#d09693"
,"海德薇":   "#ebc0fd"
,"海格":    "#b1f4cf"
,"小天狼星":     "#9890e3"
,"神秘人":     "#fef9d7"
,"丽塔":   "#d299c2"
,"斯基特":      "#b490ca"
,"小猪":        "#5ee7df"
,"弗农":  "#fed6e3"
,"德思礼":   "#a8edea"
,"佩妮":"#ff9a9e"
,"亚瑟":"#a18cd1"
,"韦斯莱":"#D4FFEC"
,"疯眼汉":"#ff867a"
,"罗恩":"#fad0c4"
,"穆迪":"#D7FFFE"
,"芙蓉":"#5753C9 "
,"格兰杰":"#4CC3FF"
,"克拉布":"#fbc2eb"
,"高尔":"#ff8c7f"
,"格林迪洛":"#57F2CC"
,"小矮星":"#4596FB"
,"詹姆":"#ff8177"
,"克劳奇":"#7C64D5"
,"克鲁克山":"#6654F1"
,"里德尔":"#eea2a2"
,"古怪姐妹":"#FF057C"
,"威克多尔":"#44107A"
,"莉莉":"#f99185"
,"斯普劳特":"#EACCF8"
,"纳威":"#6E7FF3"
,"阿拉斯托":"#b12a5b"
,"费尔奇":"#FFE6FA"
,"隆巴顿":"#bbc1bf"
,"麦格":"#FFF800"
,"皮皮鬼":"#69EACB"
,"汤姆":"#cf556c"
,"宾斯":"#FF1361"
,"马沃罗":"#fbed96"
,"多比":"#abecd6"
,"布莱克":"#7028e4"
,"米勒娃":"#f9d423 "
,"庞弗雷夫人":"#f83600"
,"差点没头的尼克":"#e5b2ca"
,"血人巴罗":"#9face6"
,"牙牙":"#74ebd5"
,"胖夫人":"#7ac5d8"
,"卡卡洛夫":"#b49fda"
,"奇洛":"#57c6e1"
,"闪闪":"#DFFFCD"
,"波特":"#B8DCFF"};

var sortOrder =[
"Arsenal"
,"Aston Villa"
,"Bournemouth"
,"Chelsea"
,"Crystal Palace"
,"Everton"
,"Leicester City"
,"Liverpool"
,"Manchester City"
,"Manchester Utd"
,"Newcastle Utd"
,"Norwich City"
,"Southampton"
,"Stoke City"
,"Sunderland"
,"Swansea City"
,"Tottenham"
,"Watford"
,"West Bromwich"
,"West Ham Utd"
];

//function sort(a,b){ return d3.ascending(sortOrder.indexOf(a),sortOrder.indexOf(b)); }

var ch = viz.ch().data(data)
      .padding(.01)
      .sort(sort)
	  .innerRadius(430)
	  .outerRadius(450)
	  .duration(1000)
	  .chordOpacity(0.3)
	  .labelPadding(.05)
      .fill(function(d){ return colors[d];});

var width=1200, height=1100;

var svg = d3.select("body").append("svg").attr("height",height).attr("width",width);

svg.append("g").attr("transform", "translate(600,550)").call(ch);

// adjust height of frame in bl.ocks.org
d3.select(self.frameElement).style("height", height+"px").style("width", width+"px");
</script>

